main{
     width: 100%;
     overflow: hidden;
     font-family: arial;
}
header{
     width: 100%;
     height: 90vh;
     background: #888 url(../images/banner.jpg) no-repeat center/cover fixed;
     background-blend-mode: multiply;
     overflow: hidden;
}
.header-inner{
     width: 70%;
     margin: auto;
     height: 100%;
}
.logo{
     width: 250px;
     float: left;
     height: 60px;
     margin-top: 15px;
     padding-top: 10px;
}
.logo img{
     vertical-align: middle;
}
.logo span{
     color: #fff;
     font-weight: bold;
     font-size: 20px;
     margin-left: 10px;

}
nav{
     width: 600px;
     height: 60px;
     float: right;
     margin-top: 15px;
}
nav ul{
     padding: 0;
     margin: 0;
     list-style: none;
}
nav ul li{
     width: 150px;
     height: 60px;
     float: left;
     text-align: center;
     line-height: 60px;
}
nav ul li a{
     color: #fff;
     font-size: 24px;
     text-decoration: none;
}
.active{
     color: #f90;
}
nav ul li:hover a{
     color: #f90;
}
.row{
     clear: both;
}
.header-content{
     width: 50%;
     margin-top: 20px;
}
.header-content h2{
     color: #fff;
}
.header-content h1{
     font-size: 90px;
     font-family: "arial black";
     color: transparent;
     -webkit-text-stroke: 1px #fff;
     margin: 0;
}
.header-content p{
     color: #fff;
     margin-bottom: 50px;
}
.btns{
     width: 80%;
     height: 60px;
}
.btns div:first-of-type{

     width: 150px;
     height: 60px;
     background:#f90;
     border-radius: 20px;
     text-align: center;
     line-height: 60px;
     font-size: 20px;
     float: left;
}
.btns div:first-of-type:hover{
     border:1px solid #fff;
     background: transparent;
     color: #fff;
     cursor:pointer;
     /* pointer - help - progress -  n-resize - w-resize - text*/
}
.btns div:last-of-type{

     width: 150px;
     height: 60px;
     border:1px solid #f90;
     border-radius: 20px;
     text-align: center;
     line-height: 60px;
     font-size: 20px;
     box-sizing: border-box;
     float: left;
     margin-left: 10px;
     color: #f90;
}
.btns div:last-of-type:hover{
     border:none;
     background: #fff;
     color: #000;
     cursor:pointer;
}
section:first-of-type{
     background: lightgray;
     height: 400px;
}
.section-inner{
     width: 70%;
     height: 100%;
     margin: auto;
}
.block{
     width: 30%;
     height: 300px;
     background: #fff;
     border-radius: 20px;
     box-sizing: border-box;
     padding: 10px;
     text-align: center;
     float: left;
     margin: 50px calc(10% / 6);
}
/* ########################################## */
section:nth-of-type(2){
     width: 100%;
     height: 600px;
     overflow: hidden;

}
aside:first-of-type{
     width: 50%;
     float: left;
}
aside:first-of-type ul{
     list-style: '\2661';
     font-size: 40px;
     line-height: 2;
}
aside:first-of-type ul li::marker{
     color: #f90;
     letter-spacing: 20px;
}
aside:last-of-type{
     width: 50%;
     float: left;
     text-align: center;
}
aside:last-of-type img{
     height: 550px;
}
/* ############################ */
section:nth-of-type(3){
     width: 100%;
     height: 400px;
     overflow: hidden;
     background: url(../images/bg.jpg) #888 fixed center/cover no-repeat;
     background-blend-mode: multiply;

}

.contacts-info{
     width: 30%;
     height: 250px;
     margin: auto;
     text-align: center;
     margin-top:75px ;
}
.contacts-info h1{
     color: #fff;
     font-size: 32px;
}
.contacts-info h1 span{
     color: #f90;
}

.test{
     margin: auto;
     width: 56% !important;
}

footer{
     height:  50px;
     background: #333;
     overflow: hidden;
}
footer p{
     margin: 0;
     text-align: center;
     color: #fff;
     line-height: 50px;
}